* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  background-color: #f3ecff;
}
header li {
  padding: 1rem;
}
header li .nav-link {
  color: #5d4c7e;
}
header li .nav-link:hover {
  color: #8d98a3;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: #f3ecff;
  width: 100%;
}
footer i {
  font-size: 1.5rem;
  color: #5d4c7e;
}
footer i:hover {
  color: #8d98a3;
  transition: 1s;
}
footer .text-center {
  background-color: #5d4c7e;
}

@media screen and (min-width: 0px) {
  .index {
    display: grid;
    grid-template-areas: "titulo__index" "imagen__index" "texto__index" "boton__index";
    grid-template-rows: repeat(4, auto);
    grid-template-columns: 1fr;
    justify-items: center;
    margin: 2rem;
    gap: 2rem;
  }
  .index__titulo {
    grid-area: titulo__index;
  }
  .index__imagen {
    grid-area: imagen__index;
    width: 100%;
  }
  .index__texto {
    grid-area: texto__index;
  }
  .index__boton {
    grid-area: boton__index;
    margin-bottom: 2rem;
  }
}
@media screen and (min-width: 1024px) {
  .index {
    display: grid;
    grid-template-areas: "titulo__index imagen__index" "texto__index imagen__index" "boton__index imagen__index";
    grid-template-rows: repeat(3, auto);
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
  .index__texto {
    margin: 0 1rem 0 1rem;
  }
}
@media screen and (min-width: 0px) {
  .nosotros {
    display: grid;
    grid-template-areas: "titulo__nosotros" "texto__nosotros" "imagen__nosotros" "info__nosotros";
    grid-template-rows: repeat(4, auto);
    grid-template-columns: 1fr;
    justify-items: center;
    margin: 2rem;
    gap: 2rem;
  }
  .nosotros__titulo {
    grid-area: titulo__nosotros;
  }
  .nosotros__texto {
    grid-area: texto__nosotros;
  }
  .nosotros__imagen {
    grid-area: imagen__nosotros;
    width: 100%;
  }
  .nosotros__info {
    grid-area: info__nosotros;
  }
}
@media screen and (min-width: 1024px) {
  .nosotros {
    display: grid;
    grid-template-areas: "titulo__nosotros titulo__nosotros" "texto__nosotros texto__nosotros" "imagen__nosotros info__nosotros";
    grid-template-rows: repeat(3, auto);
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    padding: 0 2rem 0 2rem;
  }
  .nosotros__info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}
@media screen and (min-width: 0px) {
  .galeria {
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: 1fr;
    justify-items: center;
    margin: 2rem;
    gap: 2rem;
  }
}
@media screen and (min-width: 1200px) {
  .galeria {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
  }
  .galeria h1 {
    padding-bottom: 2rem;
  }
}
h1 {
  text-align: center;
  font-size: 4rem;
  color: #5d4c7e;
  font-family: "Lato";
  font-weight: 300;
  width: 100%;
  padding-top: 1rem;
}

h2 {
  color: #5d4c7e;
  font-family: "Lato";
  font-weight: 400;
}

p {
  font-family: "Lato";
  font-size: 1rem;
  text-align: justify;
  font-weight: 300;
}

.index__boton {
  background-color: #5d4c7e;
  border: 0;
  border-radius: 2rem;
  padding: 0 1.2rem 0.2rem 1.2rem;
  height: 2rem;
}
.index__boton:hover {
  background-color: rgba(93, 76, 126, 0.7215686275);
  transition: 1s;
}
.index__boton a {
  font-family: "Lato";
  text-decoration: none;
  color: #f3ecff;
}
.index__boton a:hover {
  color: white;
  transition: 1s;
}/*# sourceMappingURL=style.css.map */