footer{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: $secondary;
    width: 100%;
    i{
        font-size: 1.5rem;
        color: $primary;
        &:hover{
            color: $tertiary;
            transition: 1s;
        }
    }
    .text-center{
        background-color: $primary;
    }
}