// contenido index
@media screen and (min-width: 0px) {
    .index{
        display: grid;
        grid-template-areas:
            "titulo__index"
            "imagen__index"
            "texto__index"
            "boton__index";
        grid-template-rows: repeat(4, auto);
        grid-template-columns: 1fr;
        justify-items: center;
        margin: 2rem;
        gap: 2rem;
        &__titulo{
            grid-area: titulo__index;
        }
        &__imagen{
            grid-area: imagen__index;
            width: 100%;
        }
        &__texto{
            grid-area: texto__index;
        }
        &__boton{
            grid-area: boton__index;
            margin-bottom: 2rem;
        }
    }
}
@media screen and (min-width: 1024px) {
    .index{
        display: grid;
        grid-template-areas:
            "titulo__index imagen__index"
            "texto__index imagen__index"
            "boton__index imagen__index";
        grid-template-rows: repeat(3, auto);
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        &__texto{
            margin: 0 1rem 0 1rem;
        }
    }
}

// contenido nosotros
@media screen and (min-width: 0px) {
    .nosotros{
        display: grid;
        grid-template-areas:
            "titulo__nosotros"
            "texto__nosotros"
            "imagen__nosotros"
            "info__nosotros";
        grid-template-rows: repeat(4, auto);
        grid-template-columns: 1fr;
        justify-items: center;
        margin: 2rem;
        gap: 2rem;
        &__titulo{
            grid-area: titulo__nosotros;
        }
        &__texto{
            grid-area: texto__nosotros;
        }
        &__imagen{
            grid-area: imagen__nosotros;
            width: 100%;
        }
        &__info{
            grid-area: info__nosotros;
        }
    }
}
@media screen and (min-width: 1024px){
    .nosotros{
        display: grid;
        grid-template-areas:
            "titulo__nosotros titulo__nosotros"
            "texto__nosotros texto__nosotros"
            "imagen__nosotros info__nosotros";
        grid-template-rows: repeat(3, auto);
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        padding: 0 2rem 0 2rem;
        &__info{
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }
    }
}