// contenido index
@media screen and (min-width: 0px) {
    .index{
        display: grid;
        grid-template-areas:
            "titulo__index"
            "imagen__index"
            "texto__index"
            "boton__index";
        grid-template-rows: repeat(4, auto);
        grid-template-columns: 1fr;
        justify-items: center;
        margin: 2rem;
        gap: 2rem;
        &__titulo{
            grid-area: titulo__index;
        }
        &__imagen{
            grid-area: imagen__index;
            width: 100%;
        }
        &__texto{
            grid-area: texto__index;
        }
        &__boton{
            grid-area: boton__index;
            margin-bottom: 2rem;
        }
    }
}
@media screen and (min-width: 1024px) {
    .index{
        display: grid;
        grid-template-areas:
            "titulo__index imagen__index"
            "texto__index imagen__index"
            "boton__index imagen__index";
        grid-template-rows: repeat(3, auto);
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        &__texto{
            margin: 0 1rem 0 1rem;
        }
    }
}

// contenido nosotros
@media screen and (min-width: 0px) {
    .nosotros{
        display: grid;
        grid-template-areas:
            "titulo__nosotros"
            "texto__nosotros"
            "imagen__nosotros"
            "info__nosotros";
        grid-template-rows: repeat(4, auto);
        grid-template-columns: 1fr;
        justify-items: center;
        margin: 2rem;
        gap: 2rem;
        &__titulo{
            grid-area: titulo__nosotros;
        }
        &__texto{
            grid-area: texto__nosotros;
        }
        &__imagen{
            grid-area: imagen__nosotros;
            width: 100%;
        }
        &__info{
            grid-area: info__nosotros;
        }
    }
}
@media screen and (min-width: 1024px){
    .nosotros{
        display: grid;
        grid-template-areas:
            "titulo__nosotros titulo__nosotros"
            "texto__nosotros texto__nosotros"
            "imagen__nosotros info__nosotros";
        grid-template-rows: repeat(3, auto);
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        padding: 0 2rem 0 2rem;
        &__info{
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }
    }
}

// contenido servicios
@media screen and (min-width: 0px){
    .servicios{
        display: grid;
        grid-template-areas:
            "bodas"
            "cumpleanos"
            "graduaciones";
        grid-template-rows: repeat(3, auto);
        grid-template-columns: 1fr;
        .bodas{
            grid-area: bodas;
        }
        .cumpleanos{
            grid-area: cumpleanos;
        }
        .graduaciones{
            grid-area: graduaciones;
        }
        div{
            display: flex;
            flex-direction: column;
            border: 0.2rem $secondary solid;
            margin: 2rem;
            h2{
                text-align: center;
                padding: 2rem 2rem 0 2rem;
                width: 100%;
            }
            img{
                width: 15%;
                margin: 1rem;
                align-self: center;
            }
            p{
                padding: 1rem 2rem 0 2rem;
                font-family: map-get($estilos, tipografia);
                font-size: map-get($estilos, tFuente2);
                text-align: justify;
                color: $tertiary;     
            }
        }
    }
}
@media screen and (min-width: 1024px){
    .servicios{
        display: flex;
    }
}

// contenido galeria
@media screen and (min-width: 0px) {
    .galeria{
        display: grid;
        grid-template-rows: repeat(3, auto);
        grid-template-columns: 1fr;
        justify-items: center;
        margin: 2rem;
        gap: 2rem;
    }
    
}
@media screen and (min-width: 1200px){
    .galeria{
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        h1{
            padding-bottom: 2rem;
        }
    }
}

// contenido contacto
@media screen and (min-width: 0px){
    .contacto{
        color: $primary;
        font-family: map-get($estilos, tipografia);
        fieldset{
            padding: 2rem;
        }
    }
}

